[submodule "lib/mocha"]
	path = lib/mocha
	url = https://github.com/visionmedia/mocha.git
[submodule "lib/expect"]
	path = lib/expect
	url = https://github.com/LearnBoost/expect.js.git
[submodule "lib/mocha-phantomjs"]
	path = lib/mocha-phantomjs
	url = https://github.com/metaskills/mocha-phantomjs.git
[submodule "lib/sinon"]
	path = lib/sinon
	url = https://github.com/cjohansen/Sinon.JS.git
